
#background01{
	background-image:url('../images/panels/hero.jpg');
	min-height:290px;
	position: relative;
	&:before{
		display: block;
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 25%;
	    right: 0;
	    background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,0));
	}
}

#background02{
	min-height:290px;
	background-image:url('../images/panels/mizumix15.jpg');
}

#background03{
	min-height:290px;
	background-image:url('../images/panels/conciergex15.jpg');
}