
#background01{
	background-image:url('../images/panels/hero.jpg');
	min-height:290px;
}

#background02{
	min-height:290px;
	background-image:url('../images/panels/mizumix15.jpg');
}

#background03{
	min-height:290px;
	background-image:url('../images/panels/conciergex15.jpg');
}