// _base.scss
// ==============
*{
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: $bodyFont;
  font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headFont;
  font-size: 1em;
  margin:0;
}

h1 {
  font-size: 1.5em;
}

h2{
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
    .sub{
      font-size:15px;
      font-style: italic;
      display: block;
      text-transform: none;
      font-weight: normal;
    }
  }

p {
  font-size: 0.65em;
  line-height: 1.5em;
  margin-bottom: 10px;
  margin-top: 7px;
  &.callout{
    font-weight: bold;
    font-size:.75em;
    margin:15px 0;
  }
}

.container-fluid{
  padding:0;
  &.logo-panel{
    padding:20px 0;
  }
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.photo-panel{
  background:#000;
  color:#fff;
  padding:80px 0;
  &.white{
    background: none;
    color:#000;
  }
}
/*=================== Our Panel =================*/
.content-panel{
    padding:40px 50px;
    h2 {
        text-align: center;
        font-size: 22px;
        letter-spacing: 1px;
        padding-bottom: 40px;
        .colored {
            color: $red;
        }
    }
    .panel-body {
        strong {
            font-size: 14px;
        }
        p {
            font-size: 12px;
            strong {
                color: $red;
                font-weight: 100;
            }
        }
    }
    .panel-profile {
        text-align: center;
        padding-top: 40px;
        .profile-pic {
            img {
              width: 120px;
                height: 120px;
                border-radius: 50%;  
            }
        }
        .profile-name {
            font-size: 12px;
            font-weight: bold;
            color: $red;
            margin-bottom: 0;
        }
        .profile-title {
            font-size: 11px;
            margin: 0;
        }
    }
}

.hero-header{
  @extend .container;
  @extend .text-center;
  @extend .photo-panel;
  h1{
    .sub{
      display: block;
      font-size:18px;
      margin-bottom:6px;
    }
    font-size:27px;
    font-weight: bold;
  }
  p{
    font-style: italic;
    max-width:700px;
    margin:20px auto 15px;
    padding:0 60px;
  }
  .btn-default{
    font-size:0.6em;
    background:transparent;
    color:#fff;
    text-transform:uppercase;
    padding:10px 40px;
    -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
         -o-transition: all .25s linear;
            transition: all .25s linear;
    &:hover{
      background:rgba(255,255,255,.25);
    }
  }
}

.map-panel{
  padding:0;

  .address-panel{
    
  }
  iframe{
    border:0;
    min-height:270px;
  }
}
/*=================== Useful Link =================*/
.links-panel {
    background-color: #3e413e;
    color: #fff;
    .useful-link-box {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .useful-link-title {
        padding-top: 5px;
        p {
            margin: 0;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: 100;
            line-height: 1.2;
        }
        img {
            width: 20px;
            height: 20px;
        }
        .travel {
            width: 25px;
        }
    }
    .link-menu {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                letter-spacing: 1px;
                font-size: 12px;
                line-height: 1.5;
                a {
                    color: #239ed1;
                    word-wrap: break-word;
                }
            }
        }
    }
}

.footer, footer{
  @extend .text-center;
  background:#000;
  padding:12px 0;
  p{
    color:#999;
    font-size:0.25em;
    margin:0px auto 2px auto;
    text-transform: uppercase;
  }
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
    /*=================== useful link =================*/
    .links-panel {
        .useful-link-box {
            text-align: center;
        }
        .useful-link-title {
            padding-bottom: 20px;
            p {
                display: inline-block;
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
}