// _base.scss
// ==============
*{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-color: #ffffff;
}

body {
  background:#ffffff;
  font-family: $bodyFont;
  font-size: 1.2em;
  color:$copy;
}

h1,h2,h3,h4,h5,h6 {
        font-family: 'Droid Serif', serif;

  font-size: 1em;
  margin:0;
}

h1 {
  font-size: 1.5em;
}

h2{
  font-size:26px;
  font-weight: bold;
  text-transform: uppercase;
  .sub{
    font-size:15px;
    font-style: italic;
    display: block;
    text-transform: none;
    font-weight: normal;
  }
}
h3 {
  font-size: 43px;
  font-weight: normal;
  text-transform: none;
  line-height: 65px;
  margin-top: 55px;
  font-family: $serif;

   @media #{$mobile-either}{
    font-size: 27px;
    line-height: 40px;
   }

}
h4 {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 28px;
  margin-top: 84px;
  font-family:$bodyFontBold;
   @media #{$mobile-either}{
    font-size: 14px;
    line-height: 27px;

   }

}
h2.serif, h1.serif, {
  font-weight: normal;
  
  font-family: $serif;
  text-transform: none;

  font-size: 64px;
  line-height: 80px;
  margin-bottom: 35px;

  @media #{$mobile-either}{
    font-size:35px;
    margin-bottom:30px;
    line-height: 35px;
  }
  @media #{$desktop-xl}{
      font-size:100px;
    line-height: 110px;
    margin-bottom:55px;
  }
}

hr {
  margin-bottom: 55px;
border: 1px solid rgba(0, 26, 51, 0.2);
    width: 90%;
    max-width: 1024px;


}
p {
  font-size: 0.65em;
  line-height: 1.7em;
  margin-bottom: 6px;
  margin-top: 6px;
  strong{
    font-weight: bold;
  }
  .italic{
    font-style: italic;
  }
}

.container-fluid{
  padding:0;
  position:relative;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*Base Styles*/
.mobile{
  display: none !important;
  @media #{$mobile-either2}{
    display: block !important;
  }
}
.desktop {

   @media #{$mobile-either2}{
    display: none !important;
  }
}
#body-wrapper{
  height:100%;
  width:100%;
  overflow-x:hidden;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
// border-top:15px solid #000000;
// border-left:9px solid #000000;
// border-right:9px solid #000000;

}



.content-wrapper{
  position: relative;
  width:100%;
  max-width: 1024px;
  padding:0 $desktopGlobalMargin;
  margin:0 auto;
  @media #{$mobile-portrait} {
    padding:0 $mobileGlobalMargin;
  }
  @media #{$mobile-landscape} {
    padding:0 120px;
  }
  @media #{$desktop-xl}{
    max-width:1280px;
  }
}


.mobile2 {
  display: none;
}
@media only screen and (max-device-width:770px){
  .mobile2{
    display: block;

  }
  .desktop2 {
    display: none;
  }
}

footer {

  background-color: #001a33;
  color: #ffffff;
  text-align: center;
  position: relative;
  text-align: center;
  bottom: 0px;


p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 24px;
  padding: 10px;


  @media #{$mobile-either}{
    font-size: 16px;
  }

}
}
