// _base.scss
// ==============
*{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-color: #000000;
}

body {
  background:#ffffff;
  font-family: $bodyFont;
  font-size: 1.2em;
  color:$copy;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headFont;
  font-size: 1em;
  margin:0;
}

h1 {
  font-size: 1.5em;
}

h2{
  font-size:26px;
  font-weight: bold;
  text-transform: uppercase;
  .sub{
    font-size:15px;
    font-style: italic;
    display: block;
    text-transform: none;
    font-weight: normal;
  }
}
h3 {
  font-size: 45px;
  font-weight: normal;
  text-transform: none;
  line-height: 60px;
  margin-top: 55px;

  font-family: $serif;

}
h4 {
  font-size: 22px;
  font-weight: normal;
  text-transform: none;
  line-height: 60px;
  margin-top: 35px;
  font-weight: bold;

  // font-family: $serif;

}
h2.serif, h1.serif, {
  font-weight: normal;
  
  font-family: $serif;
  text-transform: none;

  font-size: 64px;
  line-height: 70px;
  margin-bottom: 35px;

  @media #{$mobile-either}{
    font-size:35px;
    margin-bottom:30px;
    line-height: 35px;
  }
  @media #{$desktop-xl}{
      font-size:100px;
    line-height: 110px;
    margin-bottom:55px;
  }
}
a{
  text-decoration: none;
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;


    &:hover{
      padding-left:20px;
      &:before{
        width:20px;
        left:0px;
      }
    }
  }


p {
  font-size: 0.65em;
  line-height: 1.7em;
  margin-bottom: 6px;
  margin-top: 6px;
  strong{
    font-weight: bold;
  }
  .italic{
    font-style: italic;
  }
}

.container-fluid{
  padding:0;
  position:relative;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*Base Styles*/

#body-wrapper{
  height:100%;
  width:100%;
  overflow-x:hidden;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
border-top:15px solid #000000;
border-left:9px solid #000000;
border-right:9px solid #000000;

}



.content-wrapper{
  position: relative;
  width:100%;
  max-width: 1024px;
  padding:0 $desktopGlobalMargin;
  margin:0 auto;
  @media #{$mobile-portrait} {
    padding:0 $mobileGlobalMargin;
  }
  @media #{$mobile-landscape} {
    padding:0 120px;
  }
  @media #{$desktop-xl}{
    max-width:1280px;
  }
}


.footer{
  background-color: #000000;
  color: #fff;
  width: 100%;
padding: 25px 0 40px 0;
  vertical-align: middle;
  font-family: $serif;


  .footLeft {
    width: 50%;
    float: left;
    padding-left: 20px;
     @media #{$mobile-either} {
      font-size: 16px;
      width: 100%;
      text-align: center;
      float: none;
      padding: 0;
     }
  }
  .footRight {
    width: 50%;
    float: right;
    padding-right: 20px;
    @media #{$mobile-either} {
      font-size: 16px;
      width: 100%;
      text-align: center;
      float: none;
      padding: 0;
     }
    a{
      color: #ffffff;
      text-decoration: none;
      float: right;
      &:hover {
        color: #d5d5d5;
      }
      @media #{$mobile-either} {
      font-size: 16px;
      padding: 0;
    float: none;
      
     }
    }
  }
}
