// _base.scss
// ==============
*{
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: $bodyFont;
  font-size: 1.2em;
  color:$copy;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headFont;
  font-size: 1em;
  margin:0;
}

h1 {
  font-size: 1.5em;
}

h2{
  font-size:26px;
  font-weight: bold;
  text-transform: uppercase;
  .sub{
    font-size:15px;
    font-style: italic;
    display: block;
    text-transform: none;
    font-weight: normal;
  }
}

a{
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}

p {
  font-size: 0.65em;
  line-height: 1.7em;
  margin-bottom: 6px;
  margin-top: 6px;
  strong{
    font-weight: bold;
  }
  .italic{
    font-style: italic;
  }
  &.callout{
    font-weight: bold;
    font-size:.75em;
    margin:15px 0;
  }
}

.container-fluid{
  background: #fff;
  padding:0;
  position:relative;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.cursor-content{
  max-width: 690px;
  width:100%;
  height:100%;
  margin: 0 auto;
  background: #fff;
  display: inline-block;
}

/*Base Styles*/

#body-wrapper{
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  bottom:0;
  overflow:hidden;
  &.intro-opened{
    #bg{
      opacity:1;
    }
    #nav ul li.logo{
      color:#fff;
    }
  }
}
#bg{
    -webkit-transition: all .65s linear;
     -moz-transition: all .65s linear;
      -ms-transition: all .65s linear;
       -o-transition: all .65s linear;
          transition: all .65s linear;
  position: absolute;
  width:100%;
  top:0;
  bottom:0;
  height: 100%;
  background: url('../images/bg.jpg');
  background-size:cover;
  opacity:0;
}
#content-wrapper{
  position: relative;
  width:100%;
  text-align: center;
}
#slideshow, #intro, #video{
  margin:0 auto;
  position: absolute;
  width:100%;
  padding:0 50px;
  @media #{$mobile-either} {
    padding:0 20px;
  }
}

#nav, nav{
    -webkit-transition: all .35s linear;
     -moz-transition: all .35s linear;
      -ms-transition: all .35s linear;
       -o-transition: all .35s linear;
          transition: all .35s linear;

  padding:50px 50px 0 50px;
  @media #{$mobile-either} {
    padding:20px 20px 0 20px;
  }
  ul{
    padding:0;
    margin:0;
    li{
      padding:0;
      margin:0;
      display:inline-block;
      position: relative;
      &.logo{
        float:left;
        font-family:'gotham_med';
        line-height: 1.2em;
        letter-spacing: .12em;
      }
      &.menu{
        float:right;
        padding-top:4px;
        position: relative;
      }
      a{
        color:$copy;
        &.hamburger{
          &:hover{
            text-decoration: none;
            .strike.notactive{
              background: $accent;
            }
          }
        }
      }
    }
  }
}

.footer, footer{
  @extend .text-center;
  position: absolute;
  width:100%;
  bottom:0;
  padding:12px 0;
  p{
    color:#999;
    font-size:0.5em;
    margin:0px auto 2px auto;
  }
}