// _base.scss
// ==============
*{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff;
  font-family: $bodyFont;
  font-size: 1.2em;
  color:$copy;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headFont;
  font-size: 1em;
  margin:0;
}

h1 {
  font-size: 1.5em;
}

h2{
  font-size:26px;
  font-weight: bold;
  text-transform: uppercase;
  .sub{
    font-size:15px;
    font-style: italic;
    display: block;
    text-transform: none;
    font-weight: normal;
  }
}
h2.serif{
  font-weight: normal;
  font-size:50px;
  line-height: 55px;
  font-family: $serif;
  text-transform: none;
  margin-bottom:55px;
  @media #{$tablet}{
    font-size:70px;
    line-height: 80px;
  }
  @media #{$desktop} {
    font-size:100px;
    line-height: 110px;
  }
}
a{
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}

p {
  font-size: 0.65em;
  line-height: 1.7em;
  margin-bottom: 6px;
  margin-top: 6px;
  strong{
    font-weight: bold;
  }
  .italic{
    font-style: italic;
  }
  &.callout{
    font-weight: bold;
    font-size:.75em;
    margin:15px 0;
  }
}

.container-fluid{
  background: #fff;
  padding:0;
  position:relative;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*Base Styles*/

#body-wrapper{
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  bottom:0;
  //overflow:hidden;
}

.sr-panel{
  position: relative;
  //@extend .full-page-panel;
}
.big-text-logo{
  font-size: 44px;
  line-height: 50px;
  letter-spacing: 5px;
  font-family: $bodyFontBold;

  
  @media (min-width: 880px) {
    font-size: 100px;
    line-height: 110px;
    letter-spacing: 10px;
  }
}
.content-wrapper{
  position: relative;
  width:100%;
  max-width: 1130px;
  padding:0 $desktopGlobalMargin;
  margin:0 auto;
  @media #{$mobile-either} {
    padding:0 $mobileGlobalMargin;
  }
}

.footer, footer{
  @extend .text-center;
  position: absolute;
  width:100%;
  bottom:0;
  padding:12px 0;
  p{
    color:#999;
    font-size:0.5em;
    margin:0px auto 2px auto;
  }
}