// _base.scss
// ==============
*{
  box-sizing: border-box;
}
body {
  background: #282828;
  font-family: $bodyFont;
  font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headFont;
  font-size: 1em;
  margin:0;
}

h1 {
  font-size: 1.5em;
}

h2{
  font-size:26px;
  font-weight: bold;
  text-transform: uppercase;
  .sub{
    font-size:15px;
    font-style: italic;
    display: block;
    text-transform: none;
    font-weight: normal;
  }
}

a{
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}

p {
  font-size: 0.65em;
  line-height: 1.5em;
  margin-bottom: 6px;
  margin-top: 6px;
  strong{
    font-weight: bold;
  }
  .italic{
    font-style: italic;
  }
  &.callout{
    font-weight: bold;
    font-size:.75em;
    margin:15px 0;
  }
}

.container-fluid{
  background: #fff;
  max-width: 900px;
  padding:0;
  position:relative;
  &.logo-panel{
    padding:20px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.parallax-row-wrapper{
  width:100%;
  padding:0;
  position:relative;
}
.sapientlogo{
  width:120px;
}

/*Base Panel Styles*/

.photo-panel{
  @extend .container;
  background:#000;
  color:#fff;
  padding:55px;
  @media #{$mobile} {
    padding:40px;
  }
  &.white{
    background: none;
    color:#000;
  }
  .content-wrapper{
    width:50%;
    float:right;
    text-align: left;
    @media #{$mobile} {
      width:100%;
    }
    p{
      margin:15px 0;
    }
    a{
      color:#fff;
      &.add-ul{
        text-decoration: underline;
        &:hover{
          text-decoration: underline;
        }
      }
      &:hover{
        color:#ccc;
        text-decoration: none;
      }
    }
  }
}
.content-panel{
    padding:20px 50px;
    @media #{$mobile} {
      padding:20px 40px;
    }
    h2 {
      text-align: center;
      letter-spacing: 0px;
      padding:20px 0;
    }
}
.panel-profile {
  text-align: center;
  padding-top: 20px;
  .profile-pic {
      img {
        width: 106px;
        height: 106px;
        border-radius: 50%;  
      }
  }
  .profile-name {
      font-size: 12px;
      font-weight: bold;
      color: $red;
      margin-bottom: 0;
      font-style: italic;
  }
  .profile-title {
    font-size: 11px;
    margin: 0;
  }
}
.footer, footer{
  @extend .text-center;
  background:#000;
  padding:12px 0;
  p{
    color:#999;
    font-size:0.5em;
    margin:0px auto 2px auto;
    text-transform: uppercase;
  }
}