// _base.scss
// ==============
*{
  box-sizing: border-box;
}
body {
  background: #282828;
  font-family: $bodyFont;
  font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headFont;
  font-size: 1em;
  margin:0;
}

h1 {
  font-size: 1.5em;
}

h2{
  font-size:20px;
  font-weight: bold;
  text-transform: uppercase;
  .sub{
    font-size:15px;
    font-style: italic;
    display: block;
    text-transform: none;
    font-weight: normal;
  }
}

a{
  -webkit-transition: all .25s linear;
     -moz-transition: all .25s linear;
      -ms-transition: all .25s linear;
       -o-transition: all .25s linear;
          transition: all .25s linear;
}

p {
  font-size: 0.65em;
  line-height: 1.5em;
  margin-bottom: 6px;
  margin-top: 6px;
  &.callout{
    font-weight: bold;
    font-size:.75em;
    margin:15px 0;
  }
}

.container-fluid{
  background: #fff;
  max-width: 700px;
  padding:0;
  &.logo-panel{
    padding:20px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*Base Panel Styles*/

.photo-panel{
  @extend .container;
  background:#000;
  color:#fff;
  padding:55px;
  &.white{
    background: none;
    color:#000;
  }
  .content-wrapper{
    width:60%;
    float:right;
    text-align: left;
    @media #{$mobile} {
      width:100%;
    }
  }
}
.content-panel{
    padding:20px 50px;
    h2 {
        text-align: center;
        font-size: 22px;
        letter-spacing: 0px;
        padding:20px 0;
        .colored {
            color: $red;
        }
    }
}
.panel-profile {
  text-align: center;
  padding-top: 20px;
  .profile-pic {
      img {
        width: 106px;
        height: 106px;
        border-radius: 50%;  
      }
  }
  .profile-name {
      font-size: 12px;
      font-weight: bold;
      color: $red;
      margin-bottom: 0;
      font-style: italic;
  }
  .profile-title {
    font-size: 11px;
    margin: 0;
  }
}
.footer, footer{
  @extend .text-center;
  background:#000;
  padding:12px 0;
  p{
    color:#999;
    font-size:0.25em;
    margin:0px auto 2px auto;
    text-transform: uppercase;
  }
}