@font-face{
    font-family: 'gotham_book';
    src: url('../fonts/Gotham/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'gotham_med';
    src: url('../fonts/Gotham/Gotham-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'miller';
    src: url('../fonts/Miller/MillerDisplayRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}