.nav, nav{
    -webkit-transition: all .35s linear;
     -moz-transition: all .35s linear;
      -ms-transition: all .35s linear;
       -o-transition: all .35s linear;
          transition: all .35s linear;

  padding:$desktopGlobalMargin $desktopGlobalMargin 0 $desktopGlobalMargin;
  @media #{$mobile-either} {
    padding:$mobileGlobalMargin $mobileGlobalMargin 0 $mobileGlobalMargin;
  }
  ul{
    padding:0;
    margin:0;
    li{
      padding:0;
      margin:0;
      display:inline-block;
      position: relative;
      &.logo{
        float:left;
        font-family:'gotham_med';
        line-height: 1.2em;
        letter-spacing: .12em;
      }
      &.menu{
        float:right;
        padding-top:4px;
        position: relative;
      }
      a{
        color:$copy;
        &.hamburger{
          &:hover{
            text-decoration: none;
            .strike.notactive{
              background: $accent;
            }
          }
        }
      }
    }
  }
}