.hero-panel{
  @extend .container;
  @extend .text-center;
  @extend .photo-panel;
  padding-top:50px;
  @media #{$mobile} {
    padding-top:45px;
  }
  hr{
    width: 40px;
    border-width: 5px;
    border-color: #33bcdf;
  }
  h1{
    .sub{
      display: block;
      font-size:22px;
      margin-bottom:6px;
      @media #{$mobile} {
        font-size: 18px;
      }
    }
    font-size:48px;
    font-weight: bold;
    position: relative;
    @media #{$mobile} {
      font-size: 32px;
    }
    @media #{$sm-tablet} {
        font-size: 40px;
      }
  }
  p{
    font-family:'Arial Narrow Italic', $bodyFont;
    line-height:22px;
    font-size: 15px;
    @media #{$mobile} {
      font-size:15px;
      line-height: 22px;
      padding:0px;
    }
    position: relative;
    font-style: italic;
    max-width:700px;
    margin:20px auto 0px;
    padding:0 80px;
    @media #{$sm-tablet} {
      padding:0px 40px;
    }
    
  }
  .btn-default{
    font-size:0.6em;
    background:transparent;
    color:#fff;
    text-transform:uppercase;
    padding:10px 40px;
    -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
         -o-transition: all .25s linear;
            transition: all .25s linear;
    &:hover{
      background:rgba(255,255,255,.25);
    }
  }
}

.ourpanel-panel{
  @extend .container;
  @extend .content-panel;
  .panel-profile{
    width:30%;
    float:right;
    @media #{$mobile} {
      width:100%;
      float:none;
    }
  }
  .panel-body {
    width:70%;
    float:left;
    @media #{$mobile} {
      width:100%;
      float:none;
    }
      padding:10px 15px;
        strong {
          font-family: $headFont;
          font-size: 15px;
          text-transform: uppercase;
          .sub{
            font-size:12px;
            display: block;
            font-weight: normal;
            margin-bottom: 12px;
          }
        }
        p {
            font-size: 12px;
            strong {
              font-size: 12px;
              font-family: $bodyFont;
              color: $red;
              font-weight: bold;
              margin-right:15px;
              @media #{$xs-mobile} {
                display: block;
                margin-right:0;
              }
            }
        }
    }
    .row{
      margin-bottom:40px;
    }
}

.map-panel{
  padding:0;
  .address-panel{
    @extend .content-panel;
    padding:20px 50px;
    width:60%;
    float:left;
    @media #{$mobile} {
      width:100%;
      padding:20px 50px 50px;
      .bump-down{
        margin-bottom:0;
      }
    }
    div{
      padding:0;
      width:50%;
      float: left;
      @media #{$xs-mobile} {
        width:100%;
      }
    }
    ul{
      @extend p;
      padding:0;
      position:relative;
      @media #{$xs-mobile} {
        margin-bottom:20px;
      }
    }
    li{
      position:relative;
      margin:0;
      padding:0;
      list-style: none;
      font-size: 12px;
      font-family: $bodyFont;
      font-weight:bold;
      padding-left: 20px;
      background-repeat:no-repeat;
      background-position: 0 2px;
      margin-bottom:5px;
      &.address{
       &:before{
          display:block;
          position:absolute;
          width:12px;
          height:12px;
          left:0px;
          top:2px;
          content:url('../images/icons/map-pin.svg');
        }
      }
      &.phone{
        &:before{
          display:block;
          position:absolute;
          width:11px;
          height:12px;
          left:0px;
          content:url('../images/icons/mobile-phone.svg');
        }
      }
      &.email{
        &:before{
          display:block;
          position:absolute;
          width:12px;
          height:12px;
          left:0px;
          top:1px;
          content:url('../images/icons/envelope.svg');
        }
      }
    }
    a{
      text-decoration: none;
      color:inherit;
      -webkit-transition: all .25s linear;
         -moz-transition: all .25s linear;
          -ms-transition: all .25s linear;
           -o-transition: all .25s linear;
              transition: all .25s linear;
      &:hover{
        color:$red;
      }
    }
  }

  .map-iframe{
    padding:0;
    width:40%;
    float:left;
    @media #{$mobile} {
      width:100%;
    }
  }
  iframe{
    border:0;
    min-height:320px;
  }
}

.thoughtleaders-panel{
  @extend .container;
  @extend .content-panel;
  padding-bottom: 40px;
  h2{
    padding-bottom: 6px;
  }
  p.special-margin{
    padding:0 60px;
    @media #{$sm-tablet} {
      padding:0;
    }
    @media #{$mobile} {
      padding:0;
    }
  }
  ul{
    display: block;
    width:100%;
    margin:25px 0 0;
    padding:0;
    list-style: none;
    text-align: center;
  }
  li{
    margin:0;
    padding:0;
    list-style: none;
    display:inline-block;
    width: 32%;
    padding: 15px;
    vertical-align: top;
    @media #{$mobile} {
      width:45%;
    }
    @media #{$xs-mobile} {
      width:100%;
    }
    .profile-title{
      span.colored{
        font-style: italic;
      }
      a{
        text-decoration: none;
      }
    }
    .profile-pic{
      img{
        image-rendering: auto;
        border:0px solid #999;
        -webkit-transition: all .15s ease-in-out;
           -moz-transition: all .15s ease-in-out;
            -ms-transition: all .15s ease-in-out;
             -o-transition: all .15s ease-in-out;
                transition: all .15s ease-in-out;
        &.hilite{
          //width:116px;
          //height:116px;
          border:5px solid #999;
        }
      }
      
    }
  }
}

.links-panel {
  @extend .container;
  background-color: #3e413e;
  background: url(../images/links-bg2.png);
  color: #fff;
  .useful-link-box {
      padding: 40px 0 40px 50px;
      @media #{$mobile} {
        text-align: center;
        padding-right:50px;
      }
  }
  .useful-link-title {
    width:20%;
    float:left;
    @media #{$mobile} {
      width:100%;
      margin-bottom:20px;
    }
    padding-top: 5px;
    h2{
      span{
        display:block;
        @media #{$mobile} {
          display: inline;
          margin-right:6px;
        }
      }
    }
    img {
      width: 18px;
      height: 18px;
      margin-right: 3px;
    }
    .travel {
        width: 25px;
    }
  }
  .link-menu {
    width:80%;
    float:left;
    margin-top:10px;
    @media #{$sm-tablet} {
      width:75%;
      padding-right:20px;
      float:right;
      margin-top:0px;
    }
    @media #{$mobile} {
      width:100%;
      margin-top:0px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
        float:left;
        &:first-child{
          width:30%;
          @media #{$sm-tablet} {
            width:100%;
            margin-bottom:14px;
          }
          @media #{$mobile} {
            width:100%;
            margin-bottom:14px;
          }
        }
        &:last-child{
          width:70%;
          @media #{$sm-tablet} {
            width:100%;
          }
          @media #{$mobile} {
            width:100%;
          }
        }
        
        li {
          width:100%;
          // strong{
          //   text-transform: uppercase;
          // }
          letter-spacing: 1px;
          font-size: 11px;
          line-height: 1.5;
          a {
            color:#ccc;
            word-wrap: break-word;
            &:hover{
              text-decoration: none;
              color: #239ed1;
            }
          }
        }
    }
  }
}
// @media only screen and (min-width: 320px) and (max-width: 767px) {
//     .links-panel {
//         .useful-link-box {
//             text-align: center;
//         }
//         .useful-link-title {
//             padding-bottom: 20px;
//             p {
//                 display: inline-block;
//                 padding-left: 4px;
//                 padding-right: 4px;
//             }
//         }
//     }
// }