//openLogos
.panel {
    padding: 50px 0px 50px 0px;
    font-family: 'Droid Serif', serif;
    color: #001a33;

    @media #{$mobile-either} {
        padding: 60px 0;
    }
    
    .page-title {
        font-family: 'Droid Serif', serif;
        font-weight: bold;
        font-size: 35px;

    }
}

.full-width {
    width: 100%
}

a {
    color: #001a33;
    text-decoration: none;
    position: relative;
    &:hover {
        color: #001a33;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #001a33;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
    &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.grid {
    width: 100%;
    .threeAcross {
        img {
            width: 30%;
            margin: 0 auto;
            padding: 10px;
            @media #{$mobile-either} {
                width: 100%;
                padding-bottom: 30px;
            }
        }
        &:hover {
            background-color: transparent;
            opacity: 0.7;
            z-index: 1 !important;
        }
        &:hover:before {
            visibility: hidden;
        }
    }
    .twoAcross{
        img {
            width: 48%;
            margin: 0 auto;
            padding: 10px;

            @media #{$mobile-either} {
                width: 100%;
                padding-bottom: 30px;
            }
        }
        &:hover {
            background-color: transparent;
            opacity: 0.7;
            z-index: 1 !important;
        }
        &:hover:before {
            visibility: hidden;
        }
    }
}

p {
    font-family: $serif, $bodyFont;
    font-size: 24px;
    line-height: 40px;
    @media #{$mobile-either} {
        font-size: 16px;
        line-height: 32px;
    }
    @media #{$desktop-xl} {
        font-size: 24px;
        line-height: 40px;
    }
}
