//openLogos
.sr-panel {
    padding: 100px 0px;
    &:first-child {
        padding: 0px;
    }
    #starBg {
        width: 100%;
    }
}

.panelBlue {
    background-color: $panelBlue;
    .quote {
        color: #ffffff;
        text-align: center;
        p {
            font-style: italic;
        }
        h3 {
            padding-top: 20px;
        }
    }
}

section {
    p {
        font-family: $serif, $bodyFont;
        font-size: 27px;
        line-height: 48px;
        @media #{$mobile-either} {
            font-size: 16px;
            line-height: 32px;
        }
        @media #{$desktop-xl} {
            font-size: 30px;
            line-height: 60px;
        }
    }
}
