.hero-panel{
  @extend .container;
  @extend .text-center;
  @extend .photo-panel;
  padding-top:80px;
  h1{
    .sub{
      display: block;
      font-size:18px;
      margin-bottom:6px;
    }
    font-size:27px;
    font-weight: bold;
    position: relative;
  }
  p{
    position: relative;
    font-style: italic;
    max-width:700px;
    margin:20px auto 15px;
    padding:0 60px;
    @media #{$mobile} {
      padding:0px;
    }
  }
  .btn-default{
    font-size:0.6em;
    background:transparent;
    color:#fff;
    text-transform:uppercase;
    padding:10px 40px;
    -webkit-transition: all .25s linear;
       -moz-transition: all .25s linear;
        -ms-transition: all .25s linear;
         -o-transition: all .25s linear;
            transition: all .25s linear;
    &:hover{
      background:rgba(255,255,255,.25);
    }
  }
}

.ourpanel-panel{
  @extend .container;
  @extend .content-panel;
  .panel-body {
      padding:10px 15px;
        strong {
          font-family: $headFont;
          font-size: 14px;
          text-transform: uppercase;
        }
        p {
            font-size: 12px;
            strong {
              font-size: 12px;
              font-family: $bodyFont;
              color: $red;
              font-weight: bold;
              margin-right:15px;
            }
        }
    }
}

.map-panel{
  padding:0;
  .address-panel{
    @extend .content-panel;
    padding:20px 10px 20px 50px;
    width:60%;
    float:left;
    @media #{$mobile} {
      width:100%;
      padding:20px 50px 50px;
      .bump-down{
        margin-bottom:0;
      }
    }
    div{
      padding:0;
      width:50%;
      float: left;
      @media #{$xs-mobile} {
        width:100%;
      }
    }
    ul{
      @extend p;
      padding:0;
      position:relative;
      @media #{$xs-mobile} {
        margin-bottom:20px;
      }
    }
    li{
      position:relative;
      margin:0;
      padding:0;
      list-style: none;
      font-size: 12px;
      font-family: $bodyFont;
      font-weight:bold;
      padding-left: 20px;
      background-repeat:no-repeat;
      background-position: 0 2px;
      margin-bottom:5px;
      &.address{
       &:before{
          display:block;
          position:absolute;
          width:12px;
          height:12px;
          left:0px;
          top:2px;
          content:url('../images/icons/map-pin.svg');
        }
      }
      &.phone{
        &:before{
          display:block;
          position:absolute;
          width:11px;
          height:12px;
          left:0px;
          content:url('../images/icons/mobile-phone.svg');
        }
      }
      &.email{
        &:before{
          display:block;
          position:absolute;
          width:12px;
          height:12px;
          left:0px;
          top:1px;
          content:url('../images/icons/envelope.svg');
        }
      }
    }
    a{
      text-decoration: none;
      color:inherit;
      -webkit-transition: all .25s linear;
         -moz-transition: all .25s linear;
          -ms-transition: all .25s linear;
           -o-transition: all .25s linear;
              transition: all .25s linear;
      &:hover{
        color:$red;
      }
    }
  }
  .map-iframe{
    padding:0;
    width:40%;
    float:left;
    @media #{$mobile} {
      width:100%;
    }
  }
  iframe{
    border:0;
    min-height:270px;
  }
}

.thoughtleaders-panel{
  @extend .container;
  @extend .content-panel;
  padding-bottom: 40px;
  h2{
    padding-bottom: 6px;
  }
  ul{
    display: block;
    width:100%;
    margin:25px 0 0;
    padding:0;
    list-style: none;
  }
  li{
    margin:0;
    padding:0;
    list-style: none;
    float: left;
    width: 33%;
    padding: 15px;

    @media #{$mobile} {
      width:50%;
    }
    .profile-title{
      font-style: italic;
      a{
        text-decoration: none;
      }
    }
  }
}

/*=================== Useful Link =================*/
.links-panel {
  @extend .container;
  background-color: #3e413e;
  color: #fff;
  .useful-link-box {
      margin: 40px 0;
  }
  .useful-link-title {
    padding-top: 5px;
    p {
        margin: 0;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 100;
        line-height: 1.2;
    }
    img {
        width: 20px;
        height: 20px;
    }
    .travel {
        width: 25px;
    }
  }
  .link-menu {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            letter-spacing: 1px;
            font-size: 12px;
            line-height: 1.5;
            a {
                color: #239ed1;
                word-wrap: break-word;
            }
        }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    /*=================== useful link =================*/
    .links-panel {
        .useful-link-box {
            text-align: center;
        }
        .useful-link-title {
            padding-bottom: 20px;
            p {
                display: inline-block;
                padding-left: 4px;
                padding-right: 4px;
            }
        }
    }
}