#slideshow{
	cursor: pointer;
	&:hover{
		&:after{
			opacity:1;
		}
	}
	&:after{
		opacity:0;
		content: 'PLAY';
	    position: absolute;
	    top: 44%;
	    
	    @media #{$mobile-either} {
		    top:40%;
		}
	    width: 100%;
	    left: 0;
		font-family: $bodyFontBold;
	    color: #fff;
	    font-size: 16px;
	    letter-spacing: 2px;
	    -webkit-transition: all .25s linear;
	       -moz-transition: all .25s linear;
	        -ms-transition: all .25s linear;
	         -o-transition: all .25s linear;
	            transition: all .25s linear;

		-webkit-animation: fadein 1s 4s 1 normal forwards;
		-moz-animation:   fadein 1s 4s 1 normal forwards;
		-o-animation:      fadein 1s 4s 1 normal forwards;
		animation:         fadein 1s 4s 1 normal forwards;
	}
}
@-webkit-keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1;}
}
@-moz-keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1;}
}
@-o-keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1;}
}
@keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1;}
}