.text-center{
	text-align: center;
}
.add-right-margin{
	margin-right:6px !important;
}
.bump-down{
	margin-bottom:20px !important;
}
.bump-down-more{
	margin-bottom: 30px !important;
}
.colored {
    color: $accent;
}

.left{
	float:left !important;
}
.right{
	float:right !important;
}
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.full-page-panel{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}