// _variables.scss
// =================
 
$red         : #de2c27;
 
$headFont : "Trebuchet MS", "fira_sansmedium", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$bodyFont : Arial, Helvetica, sans-serif;

$xs-mobile: "(max-width: 400px)";
$mobile: "(max-width: 600px)";
$sm-tablet: "(min-width: 600px) and (max-width:800px)";
$desktop: "(min-width: 600px)";