// _variables.scss
// =================
 
$red         : #de2c27;
 
$headFont : "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$bodyFont : Arial, Helvetica, sans-serif;