// _variables.scss
// =================
$copy			: #18181e;
$accent         : #002fff;
 
$desktopGlobalMargin: 50px;
$mobileGlobalMargin: 30px;

$headFont : 'gotham_book', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$bodyFont : 'gotham_book', Arial, Helvetica, sans-serif;
$bodyFontBold : 'gotham_med', Arial, Helvetica, sans-serif;
$serif: 'miller', 'Times New Roman', serif;

$xs-mobile-either: "(max-width: 375px)";
$xs-mobile-portrait: "(max-width: 375px) and (orientation: portrait)";
$xs-mobile-landscape: "(max-width:375px) and (orientation: landscape)";

$mobile-portrait: "(max-width: 767px) and (orientation: portrait)";
$mobile-landscape: "(max-width:767px) and (orientation: landscape)";

$sm-tablet: "(min-width: 600px) and (max-width:800px)";




$mobile-either: "(max-width: 767px)";
$tablet: "(min-width:768px) and (max-width:1024px)";
$desktop: "(min-width: 1025px)";
$desktop-xl: "(min-width:1080px)";