// _variables.scss
// =================
$copy			: #18181e;
$accent         : #002fff;
 
$headFont : 'gotham_book', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$bodyFont : 'gotham_book', Arial, Helvetica, sans-serif;
$bodyFontBold : 'gotham_med', Arial, Helvetica, sans-serif;

$xs-mobile-either: "(max-width: 375px)";
$xs-mobile-portrait: "(max-width: 375px) and (orientation: portrait)";
$xs-mobile-landscape: "(max-width:375px) and (orientation: landscape)";

$mobile-either: "(max-width: 767px)";
$mobile-portrait: "(max-width: 767px) and (orientation: portrait)";
$mobile-landscape: "(max-width:767px) and (orientation: landscape)";

$sm-tablet: "(min-width: 600px) and (max-width:800px)";
$desktop: "(min-width: 768px)";