<div class="sr-panel panel">
    <div class="container-wrapper">
        <div class="content-wrapper">
            <h1 class="page-title">About Mike &amp; Ashby!</h1>
            <p>Mike and Ashby met when Taylor Swift was still putting out country music and Kendall Martin was still trying to record an album. However, they didn’t start dating until three years later (Mike thought a jail cell wouldn’t fit all of his music gear). Ashby decided to make the first move and asked Mike to giver her cooking lessons. The cooking didn’t stick, but the relationship did. They have shared many firsts together and here are some of the favorites:
            </p>
            <div class="aboutImg">
                
            <img  src="assets/images/mikeAshby.jpg" alt="">

            </div>
            <br>
            <p><b><i>The first time Mike said I love you:</i></b>
                <br> Mike was dropping Ashby off when he he said,” Love you, bye”. He had the most horrifying look on his face because it was a Freudian slip. Ashby saw him driving away hitting his head on his steering wheel.
            </p>
            <br>
            <p><b><i>The first injury:</i></b>
                <br> When Mike found out that Ashby has a black belt in Taekwondo , he immediately wanted to test the boundaries. Being the competitive spirit Ashby is, she welcomed this challenge and they started sparring. Mike accidentally broke the joint in her left pinky and she was given abuse pamphlets from the doctor.
            </p>
            <div class="aboutImg">
                

            <img  src="assets/images/lawn.jpg" alt="">

            <div class="overlayText">
                Hello
            </div>

            </div>
            <br>
            <p><b><i>The first time the age difference was noticed:</i></b>
                <br> Mike and his buddies were discussing all of their favorite movies while they were in Vegas for Ashby’s 21st. It was soon discovered Ashby had not watched or even heard of them. They soon starting making lists throughout the night of all the movies Ashby needed to watch. A small excerpt of the 36 movie list
                <ul>
                    <li>Space balls</li>
                    <li>Ferris Bueller's Day Off</li>
                    <li>Airplane</li>
                    <li>The Godfather</li>
                    <li>Pretty in Pink</li>
                    <li>Sixteen Candles</li>
                    <li>The Breakfast Club</li>
                </ul>
            </p>
        </div>
    </div>
</div>
