<div class="sr-panel panel">
    <div class="container-wrapper">
        <div class="content-wrapper">
            <h1 class="page-title" style="text-align: center;">Welcome to Mike &amp; Ashby's Wedding Site!</h1>
            <br><br>
            <div class="grid" style="text-align: center;">
                <img style="width: 100%;" src="/../assets/images/mAimage.jpeg" alt="">
            </div>
            <p>This site will tell you all the info that you need to know for the wedding! We can't wait to share this day with you special People </p>
            <br>
     
        </div>
    </div>
    <div class="container-wrapper">
        <div class="content-wrapper">
            <h1 class="page-title">The Wedding Day!</h1>
            <br>
            <h1 style="text-align: center; text-decoration: underline;">Date: 9.23.2017</h1>
            <p>If you are staying at <a href="https://aws.passkey.com/go/IHOThornwellZevitas/" target="_blank">The Grand Hyatt </a>or <a href="http://cwp.marriott.com/atlcb/thornwellzevitaswedding" target="_blank">The Court Yard Marriott</a>, There will be a bus service to and from the venue.
            </p>
            <br>
            <h1 style="text-align: center; text-decoration: underline;">Ceremony</h1>
            <p style="text-align:center;" >6:00 PM <br>
            The Swan House <br>
            130 West Paces Ferry Rd NW, Atlanta, GA 30305</p>

            <div class="grid" style="text-align: center;">
                <img src="/../assets/images/unnamed-1.jpg" alt="">
            </div>

            <p style="text-align: center;">Cocktail Hour &amp; Reception to follow at the Atlanta History Center!</p>
            <div class="grid" style="text-align: center;">
                <img src="/../assets/images/unnamed.jpg" alt="">
            </div>
            <br><br>
            <p style="text-align: center;">We are incredibly blessed to share our special day with the people we love the most! Thank you all for the effort in travel and thoughts of best wishes.</p>

            <p style="text-align: center;">Cheers, <br> Mike &amp; Ashby
</p>
        </div>
    </div>
</div>
</div>
