<div class="sr-panel panel">
            <div class="container-wrapper">
                <div class="content-wrapper">
                <h1 class="page-title">Where to stay!</h1>
                <p>We have reserved hotel blocks at 2 different hotels.</p>
                

                <br><br>
                <div class="grid">

                        <a class="twoAcross" href="/"><img src="https://placehold.it/150x150" alt=""></a>
                        <a class="twoAcross" href="/"><img src="https://placehold.it/150x150" alt=""></a>
                        

                </div>
                </div>


            </div>

        </div>