<div class="sr-panel panel">
            <div class="container-wrapper">
                <div class="content-wrapper">
                <h1 class="page-title">Where to stay!</h1>
                <p>We have reserved hojksdfsdfjksdfjksdfjksdfjkstel blocks at 2 different hotels.</p>
                

                <br><br>
                <div class="grid">

                        <a class="twoAcross" href="/"><img src="https://placehold.it/150x150" alt=""></a>
                        <a class="twoAcross" href="/"><img src="https://firebasestorage.googleapis.com/v0/b/almost-famous-6a869.appspot.com/o/m%26M.png?alt=media&token=74da132d-0c80-4fc3-ac1a-9fcc1e226e85" alt=""></a>
                        

                </div>
                </div>


            </div>

        </div>