<div class="sr-panel panel">
            <div class="container-wrapper">
                <div class="content-wrapper">
                <h1 class="page-title">The Venue</h1>
                <p>The Cememony and the reception will take place at the Atlanta History Center. </p>

                <p>Swan house. for the cememony</p> 
                <img src="" alt="">
                <p>altanta history center ballroom for the reception</p>
                <img src="" alt="">
</div>
<hr>
<div class="content-wrapper">
                <h1 class="page-title">Transportation</h1>
                <p>Transportation will be provided from the hotels departing at.... At the venue there is a free parking deck.... If you are not staying at either hotel, please consider using Uber or Lyft.</p>

                </div>
                </div>


            </div>

        </div>