<div class="sr-panel panel">
            <div class="container-wrapper">
                <div class="content-wrapper">
                <h1 class="page-title">Our Registries</h1>
                <p>We are registered at: <a href="https://www.crateandbarrel.com/gift-registry/ashby-thornwell-and-mike-zevitas/r5660388" target="_blank">Crate and Barrel,</a> <a href="https://secure.williams-sonoma.com/registry/z9m98gvrl9/registry-list.html" target="_blank">William Sonoma,</a> <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=543920764&pwsurl=" target="_blank">Bed Bath &amp; Beyond.</a></p>
                

                <br><br>
                <div class="grid">

                        <a class="threeAcross" href="https://www.crateandbarrel.com/gift-registry/ashby-thornwell-and-mike-zevitas/r5660388" target="_blank"><img src="../assets/images/crateBarrel.jpg" alt=""></a>
                        <a class="threeAcross" href="https://secure.williams-sonoma.com/registry/z9m98gvrl9/registry-list.html" target="_blank"><img src="../assets/images/williams.png" alt=""></a>
                        <a class="threeAcross" href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=543920764&pwsurl=" target="_blank"><img src="../assets/images/bedBath.png" alt=""></a>

                </div>
                </div>


            </div>

        </div>