<div class="sr-panel panel">
    <div class="container-wrapper">
        <div class="content-wrapper">
            <h1 class="page-title">Where to stay!</h1>
            <p>We have reserved hotel blocks at 2 different hotels.</p>
            <br>
            <br>
            <div class="grid">
                <a class="twoAcross" href="https://aws.passkey.com/go/IHOThornwellZevitas/" target="_blank"><img src="/../assets/images/GrandHyattlogo.png" alt=""></a>
                <a class="twoAcross" href="http://cwp.marriott.com/atlcb/thornwellzevitaswedding" target="_blank"><img src="/../assets/images/courtYard.jpg" class="vert" alt=""></a>
            </div>
        </div>
        <hr>
        <div class="content-wrapper">
            <h1 class="page-title">Things to do:</h1>
            <p>Let’s face it, all there is to do in Atlanta is eat!</p>
            <!-- bourbon bar, fado, industrial pub, south city kitchen -->
            <p><b>Breakfast/ Brunch:</b></p>
            <ul>
                <li><a href="http://www.eggharborcafe.com/eggharbor-menu/" target="_blank">Egg Harbor Cafe</a></li>
                <li><a href="http://tavernabylombardi.com/brunch/" target="_blank">Taverna Brunch</a></li>
                <li><a href="http://buckhead.southcitykitchen.com/brunch/" target="_blank">South City Kitchen</a></li>
                <li><a href="https://fadoirishpub.com/atlanta/" target="_blank">Fado Irish Pub Bunch</a></li>
            </ul>
            <br>
            <p><b>Lunch:</b></p>
            <ul>
                <li><a href="https://www.henrisbakery.com/" target="_blank">Henri’s Bakery</a></li>
                <li><a href="http://greatergoodbbq.com/food-menu/" target="_blank">The Greater Good BBQ</a></li>
                <li><a href= http://www.truefoodkitchen.com/atlanta"" target="_blank">True Food Kitchen</a></li>
                <li><a href="https://flipburgerboutique.com/" target="_blank">Flip Burger Boutique</a></li>
                <li><a href="https://www.shakeshack.com/location/atlanta-ga/" target="_blank">Shake Shack</a></li>
                <li><a href="https://fadoirishpub.com/atlanta/" target="_blank">Fado Irish Pub</a></li>
                <li><a href="http://bartaco.com/" target="_blank">Bartaco</a></li>
                <li><a href="http://tinlizzyscantina.com/" target="_blank">Tin Lizzys</a></li>


            </ul>
            <br>
            <p><b>Dinner:</b></p>
            <ul>
                <li><a href="http://buckhead.southcitykitchen.com/" target="_blank">South City Kitchen</a></li>
                <li><a href="http://www.thesoutherngentlemanatl.com/" target="_blank">Southern Gentleman</a></li>
                <li><a href="http://sevenlampsatl.com/" target="_blank">Seven Lamps</a></li>
                <li><a href="http://tavernabylombardi.com/" target="_blank">Taverna</a></li>
                <li><a href="https://www.dolceitalianrestaurant.com/buckhead-atlanta\" target="_blank">Dolce Italian</a></li>
                <li><a href="https://fadoirishpub.com/atlanta/" target="_blank">Fado Irish Pub</a></li>
                <li><a href="http://bartaco.com/" target="_blank">Bartaco</a></li>
                <li><a href="http://tinlizzyscantina.com/" target="_blank">Tin Lizzys</a></li>
            </ul>
            <br>
            <p style="text-align: center;">If you need more sugestions for food or activities, Please feel free to contact us at
                <br> 484-597-0224</p>
        </div>
    </div>
</div>
