<div class="sr-panel panel">
            <div class="container-wrapper">
                <div class="content-wrapper">
                <h1 class="page-title">Where to stay!</h1>
                <p>We have reserved hotel blocks at 2 different hotels.</p>
                

                <br><br>
                <div class="grid">

                        <a class="twoAcross" href="https://aws.passkey.com/go/IHOThornwellZevitas/" target="_blank"><img src="/../assets/images/GrandHyattlogo.png" alt=""></a>
                        <a class="twoAcross" href="http://cwp.marriott.com/atlcb/thornwellzevitaswedding" target="_blank"><img src="/../assets/images/courtYard.jpg" class="vert" alt=""></a>
                        

                </div>
                </div>
<hr>
                <div class="content-wrapper">
                <h1 class="page-title">Place to eat.</h1>
                <p>Here are places to Dine around the hotel</p>
                 
                <!-- bourbon bar, fado, industrial pub, south city kitchen -->




                <br><br>
                <div class="grid">

                        <a class="twoAcross" href="https://aws.passkey.com/go/IHOThornwellZevitas/" target="_blank"><img src="/../assets/images/GrandHyattlogo.png" alt=""></a>
                        <a class="twoAcross" href="http://cwp.marriott.com/atlcb/thornwellzevitaswedding" target="_blank"><img src="/../assets/images/courtYard.jpg" class="vert" alt=""></a>
                        

                </div>
                </div>

<hr>
                 <div class="content-wrapper">
                <h1 class="page-title">Things to Do.</h1>
                <p>Things to do in Atlanta</p>
                
                <!-- world of coke, zoo, aquerium, gardens -->

                <br><br>
                <div class="grid">

                        <a class="twoAcross" href="https://aws.passkey.com/go/IHOThornwellZevitas/" target="_blank"><img src="/../assets/images/GrandHyattlogo.png" alt=""></a>
                        <a class="twoAcross" href="http://cwp.marriott.com/atlcb/thornwellzevitaswedding" target="_blank"><img src="/../assets/images/courtYard.jpg" class="vert" alt=""></a>
                        

                </div>
                </div>



            </div>

        </div>