<div class="sr-panel panel ">
    <div class="container-wrapper">
        <div class="content-wrapper">
            <h1 class="page-title">The Proposal!</h1>
            <p>FOUR years and SEVEN months into their relationship, Mike and Ashby were on their usual yearly vacation at Sea Island, Georgia. Ashby was ecstatic to have a “Treat Yourself Self” day where she went to the spa and was pampered with a massage. A few hours later, she was deciding what to wear to dinner at The Cloister. She showed Mike the two dresses she had (one way more casual than the other), he picked the fancier one. Thinking nothing of it, she gladly wore it to what would be the happiest moment of her life (so far). After the most amazing Italian dinner and a bottle of red wine, Ashby and Mike went to the cloister balcony:</p>
            <img  src="assets/images/unnamed-2.jpg" alt="" style="width: 80%; text-align: center;margin: 0 auto;">
            <p>He told her how much he loved her (which is usual because he says that often) and then started pulling out a ring box. Ashby was truly in shock at that moment because she honestly thought it wasn’t going to happen any time soon. </p>

              <div class="grid" style="text-align: center;">
              <img class="twoAcross" src="assets/images/maProposal.png" alt="">
              <img class="twoAcross" src="assets/images/2proposal.png" alt="">

                </div>

                <p>
                    So glad these amazing friends came down to celebrate!

                </p>
            <img  src="assets/images/groupPic.png" alt="" style="text-align: center;">

            </div>
        </div>
    </div>
</div>
